@use './variables' as *;

@mixin flexBox( $direction : row , $jc : start, $ai : start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $ai;
}  

@mixin tgSize($size : 1.6rem, $weight : 300 ) {
  font-family: inter , sans-serif;
  font-size: $size;
  font-weight: $weight;
}

